#page-Settings
    section#content
        width: 90vw
        margin-left: 5vw
        min-height: calc(100vh - 80px - 60px)

        ul.group
            padding: 0 5%
            border-radius: 15px
            list-style-type: none
            border-width: 1px
            border-style: solid

            li
                padding: 10px 0
                border-bottom-width: 1px
                border-bottom-style: solid
                display: flex
                align-items: center
                justify-content: space-between
                &:last-child
                    border: none